@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.2 | 20191019
   License: none (public domain)
*/
@import url("/asset/scss/utils/_mixin.scss");
@import url("/asset/scss/utils/_vars.scss");
@import url("/asset/scss/utils/_mixin.scss");
@import url("/asset/scss/utils/_vars.scss");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu,
ol,
ul, li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
}

body {
  position: relative;
  font-family: "Pretendard", "맑은고딕", Arial, sans-serif;
  max-width: 500px;
  margin: 0 auto;
  background-color: #ededed;
}
@font-face {
  font-family: Pretendard;
  font-weight: 700;
  font-style: normal;
  src: url("../font/Pretendard-Bold.woff") format("woff"), url("../font/Pretendard-Bold.ttf") format("truetype");
}
@font-face {
  font-family: Pretendard;
  font-weight: 600;
  font-style: normal;
  src: url("../font/Pretendard-SemiBold.woff") format("woff"), url("../font/Pretendard-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: Pretendard;
  font-weight: 500;
  font-style: normal;
  src: url("../font/Pretendard-Medium.woff") format("woff"), url("../font/Pretendard-Medium.ttf") format("truetype");
}
@font-face {
  font-family: Pretendard;
  font-weight: 400;
  font-style: normal;
  src: url("../font/Pretendard-Regular.woff") format("woff"), url("../font/Pretendard-Regular.ttf") format("truetype");
}

.kakao {
  background-color: #ffeb00;
  color: #222;
}

.naver {
  background-color: #2db400;
  color: #fff;
}

.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
}
.icon.left-arrow {
  width: 24px;
  height: 24px;
  background-image: url("../image/icon/chevron_left.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.icon.right-arrow {
  width: 24px;
  height: 24px;
  background-image: url("../image/icon/chevron_left.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(-180deg);
}
.icon.bottom-arrow {
  width: 24px;
  height: 24px;
  background-image: url("../image/icon/bottom_arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.icon.bottom-arrow.on {
  transform: rotate(-180deg);
}
.icon.more {
  width: 24px;
  height: 24px;
  background-image: url("../image/icon/more.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.icon.download {
  width: 24px;
  height: 24px;
  background-image: url("../image/icon/download.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.icon.download-black {
  width: 24px;
  height: 24px;
  background-image: url("../image/icon/download_black.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.icon.plus {
  width: 24px;
  height: 24px;
  background-image: url("../image/icon/plus.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.icon.plus-white {
  width: 24px;
  height: 24px;
  background-image: url("../image/icon/plus_white.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.icon.settings {
  width: 24px;
  height: 24px;
  background-image: url("../image/icon/settings.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.icon.done {
  width: 24px;
  height: 24px;
  background-image: url("../image/icon/done.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.icon.cancel {
  width: 24px;
  height: 24px;
  background-image: url("../image/icon/cancel.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.icon.close {
  width: 24px;
  height: 24px;
  background-image: url("../image/icon/close.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.icon.shield {
  width: 56px;
  height: 53px;
  background-image: url("../image/icon/shield.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.icon.coin {
  width: 56px;
  height: 53px;
  background-image: url("../image/icon/coin.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  height: calc(var(--vh, 1vh) * 100 - 56px);
}
main.full {
  height: calc(var(--vh, 1vh) * 100);
  padding-bottom: 16px;
}
main.fix {
  height: auto;
}
main.flex .inner {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
main.flex .inner .content {
  height: calc(var(--vh, 1vh) * 100 - 250px);
}
main.flex .inner .btn.bottom {
  width: 100%;
  position: relative;
  left: 0;
  bottom: 0;
  margin-bottom: 16px;
}

.inner {
  width: calc(100% - 40px);
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.inner.wide {
  width: 100%;
}
.inner.receipt {
  width: calc(100% - 27px);
  padding: 0 13.5px;
}

.content {
  height: 100%;
}

.line {
  position: relative;
  display: inline-block;
  margin: 0 20px;
  padding: 0;
  width: calc(100% - 40px);
  height: 20px;
  background-image: url("../image/common/line.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 480px;
}
.line:before, .line:after {
  content: "";
  position: absolute;
  top: 0;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #ededed;
  border-radius: 50%;
}
.line:before {
  left: -30px;
}
.line:after {
  right: -30px;
}

input[type=checkbox] {
  display: none;
  margin-right: 8px;
}
input[type=checkbox] + label {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 4px;
  box-sizing: border-box;
  border: 1px solid #444;
  border-radius: 2px;
}
input[type=checkbox]:checked + label {
  background-color: #fff;
}
input[type=checkbox]:checked + label:after {
  content: "";
  display: inline-block;
  position: relative;
  top: -1px;
  left: -1px;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border-radius: 2px;
  width: 16px;
  height: 16px;
  background-image: url("../image/icon/check_fill.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.toggle label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
.toggle label input[type=checkbox] {
  display: block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  border-radius: 37px;
  width: 41px;
  height: 20px;
  background-color: #c9c9c9;
}
.toggle label input[type=checkbox]:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 3px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  transition: left 250ms linear;
}
.toggle label input[type=checkbox]:checked {
  background-color: #017F69;
}
.toggle label input[type=checkbox]:checked::before {
  left: 22px;
}

.btn {
  position: relative;
  width: 100%;
  height: 56px;
  border-radius: 40px;
}
.btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 16px 0;
  box-sizing: border-box;
  text-align: center;
  font-size: 16px;
  line-height: 19.09px;
  letter-spacing: -0.32px;
  font-weight: 400;
  color: #fff;
}
.btn.bottom {
  width: calc(100% - 40px);
  position: absolute;
  left: 20px;
  bottom: 0;
}
.btn.black {
  height: 51px;
  background-color: #222;
  bottom: 16px;
}
.btn.naver {
  background-color: #2db400;
}
.btn.naver a {
  gap: 8px;
}
.btn.kakao {
  background-color: #ffeb00;
}
.btn.kakao a {
  color: #222;
  gap: 8px;
}
.btn.green {
  position: relative;
  margin: 66px 0 16px;
  border: 1px solid #017F69;
  background-color: rgba(1, 127, 105, 0.1019607843);
}
.btn.green a {
  color: #017F69;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.btn.outline {
  height: 51px;
  border: 1px solid #222;
}
.btn.outline a {
  color: #222;
}
.btn.underline a {
  color: #222;
  text-decoration: underline;
  padding-bottom: 0;
}
.btn.disable {
  margin: 66px 0 16px;
  box-sizing: border-box;
  border: 1px solid #ababab;
  background-color: #c9c9c9;
}
.btn.disable a {
  height: 56px;
  color: #ababab;
  font-weight: 700;
}
.btn.gradation {
  margin: 13px 0 24px;
  box-sizing: border-box;
  background: linear-gradient(92.75deg, #00AB50 22.61%, #006B89 78.36%);
}
.btn.gradation a {
  height: 56px;
  box-sizing: border-box;
  gap: 8px;
}

.button-sub {
  display: inline-block;
  width: 100%;
  margin-top: 12px;
  text-align: center;
  font-size: 14px;
  line-height: 16.71px;
  letter-spacing: -0.28px;
  font-weight: 400;
  color: #888;
  margin-bottom: 24px;
}
.button-sub.up {
  margin: 24px 0 0;
}

.btn-group {
  bottom: 32px;
  width: 100%;
}

button.change {
  height: 24px;
  padding: 2px 8px;
  border: 1px solid #888;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 19.6px;
  letter-spacing: -0.28px;
  font-weight: 400;
  color: #888;
}
button.cancel {
  height: 35px;
  padding: 8px 16px;
  border: 1px solid #ababab;
  border-radius: 8px;
  font-size: 16px;
  line-height: 19.09px;
  letter-spacing: -0.32px;
  font-weight: 400;
  color: #ababab;
  box-sizing: border-box;
}

.auto-box {
  overflow: hidden;
}
.auto-box .title-area {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}
.auto-box .default .state-area span {
  display: none;
  align-items: center;
  gap: 8px;
  padding: 7.5px 0 7.5px 16px;
  border-radius: 8px;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 19.09px;
  letter-spacing: -0.32px;
  font-weight: 400;
  color: #222;
}
.auto-box .default .state-area span.naver {
  margin-top: 12px;
  color: #fff;
}
.auto-box .default .state-area span:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  width: 20px;
  height: 20px;
  background-image: url("../image//icon/check.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.auto-box .default .state-area span.naver:before {
  width: 20px;
  height: 20px;
  background-image: url("../image//icon/check_white.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.auto-box .setting-area {
  display: none;
  padding: 6px 0;
}
.auto-box .setting-area > div {
  padding-top: 16px;
  margin-bottom: 12px;
}
.auto-box .setting-area > div:last-child {
  padding-top: 0;
  margin-bottom: 0;
  margin-top: 12px;
}
.auto-box .setting-area .ing {
  display: none;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 19.09px;
  letter-spacing: -0.32px;
  font-weight: 700;
  color: #222;
  padding: 16px 0;
}
.auto-box .setting-area .ing span {
  display: flex;
  align-items: center;
  gap: 4px;
}
.auto-box .setting-area .ing span:before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  width: 24px;
  height: 24px;
  background-image: url("../image//icon/naver.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.auto-box .setting-area .ing.kakao {
  border-top: 1px solid #dcdee0;
  margin-bottom: 0;
}
.auto-box .setting-area .ing.kakao span:before {
  width: 24px;
  height: 24px;
  background-image: url("../image//icon/kakao.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.auto-box .setting-area.on {
  display: block;
}

.bubble {
  position: absolute;
  top: -41px;
  left: 50%;
  transform: translateX(-50%);
  width: 265px;
  margin: 0 auto;
  border-radius: 8px;
  width: 265px;
  height: 46px;
  background-image: url("../image//common/bubble.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: bounce 1.25s infinite ease-in-out;
}
.bubble span {
  display: inline-block;
  position: absolute;
  width: 100%;
  top: 7px;
  left: 0;
  text-align: center;
  font-size: 16px;
  line-height: 19.09px;
  letter-spacing: -0.32px;
  font-weight: 400;
  color: #fff;
}
.bubble.black {
  width: 310px;
  width: 310px;
  height: 46px;
  background-image: url("../image//common/bubble_black.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes bounce {
  0% {
    top: -41px;
  }
  50% {
    top: -30px;
  }
  100% {
    top: -41px;
  }
}
.popup {
  display: none;
  z-index: 99;
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
}
.popup .popup-title {
  padding: 12px 0;
  text-align: center;
  font-size: 18px;
  line-height: 21.48px;
  letter-spacing: -0.36px;
  font-weight: 400;
  color: #fff;
}
.popup .popup-cont {
  position: relative;
  padding: 32px 0;
  border-bottom: 1px solid #e6e6e6;
}
.popup .popup-cont .lottie {
  padding: 20px 0;
}
.popup .popup-cont .sub-text {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  line-height: 19.6px;
  letter-spacing: -0.28px;
  font-weight: 400;
  color: #222;
  text-align: center;
}
.popup .popup-cont .close {
  position: absolute;
  top: 0;
  right: 12px;
}
.popup.naver .popup-title {
  background-color: #2db400;
}
.popup.kakao .popup-title {
  background-color: #ffeb00;
  color: #000;
}
.popup.logout, .popup.signout {
  padding-top: 12px;
}
.popup.logout .popup-cont, .popup.signout .popup-cont {
  padding-bottom: 28px;
}
.popup.main {
  display: block;
  overflow: visible;
}
.popup.main .popup-cont {
  padding: 40px 20px;
}
.popup.main .popup-cont .close {
  top: 12px;
}
.popup.main .popup-cont .title {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.4px;
  font-weight: 700;
  color: #222;
  margin-bottom: 32px;
}
.popup.main .popup-cont ul li {
  margin-bottom: 40px;
}
.popup.main .popup-cont ul li .title {
  font-size: 18px;
  line-height: 25.2px;
  letter-spacing: -0.36px;
  font-weight: 700;
  color: #222;
  margin-bottom: 8px;
}
.popup.main .popup-cont ul li .cont-box {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #eee;
  border-radius: 8px;
  padding: 16px 9px;
}
.popup.main .popup-cont ul li .cont-box .text {
  font-size: 14px;
  line-height: 19.6px;
  letter-spacing: -0.28px;
  font-weight: 400;
  color: #222;
  margin-right: 3px;
}
.popup.main .popup-cont ul li:last-child {
  margin-bottom: 0;
}
.popup.main .popup-btn {
  background-color: #017F69;
  border-top: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.popup.main .popup-btn span {
  font-size: 18px;
  line-height: 21.48px;
  letter-spacing: -0.36px;
  font-weight: 600;
  color: #fff;
}
.popup.main .input-box {
  position: absolute;
  bottom: -38px;
  left: 0;
}
.popup.main .input-box .check {
  display: flex;
  align-items: center;
  gap: 4px;
}
.popup.main .input-box .check span {
  font-size: 16px;
  line-height: 19.09px;
  letter-spacing: -0.32px;
  font-weight: 400;
  color: #fff;
}
.popup .popup-btn {
  padding: 16px 0;
  text-align: center;
  font-size: 18px;
  line-height: 21.48px;
  letter-spacing: -0.36px;
  font-weight: 600;
  color: #000;
}

.dimmed {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 10;
}

header {
  height: 56px;
  background-color: #ededed;
  box-sizing: border-box;
}
header .inner {
  position: relative;
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
header .inner .left {
  display: flex;
  align-items: center;
  gap: 4px;
}
header .inner .menu-list {
  display: none;
  position: absolute;
  top: 45px;
  right: 0;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  width: 144px;
  box-sizing: border-box;
}
header .inner .menu-list li {
  padding: 10px 20px;
  font-size: 16px;
  line-height: 19.09px;
  letter-spacing: -0.32px;
  font-weight: 400;
  color: #222;
  touch-action: manipulation;
}
header .inner .menu-list li.on {
  font-size: 16px;
  line-height: 19.09px;
  letter-spacing: -0.32px;
  font-weight: 700;
  color: #017F69;
}

.sector-main {
  padding-top: 12px;
}
.sector-main .banner {
  width: 100%;
  height: 115px;
  width: 100%;
  height: 115px;
  background-image: url("../image/common/banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  margin-bottom: 16px;
}
.sector-main .banner .banner-img {
  width: 100%;
  height: 100%;
}
.sector-main .receipt {
  background-color: #fff;
  border-radius: 16px;
}
.sector-main .receipt .receipt-cont {
  position: relative;
  padding-top: 0;
}
.sector-main .receipt .receipt-cont .logo {
  padding: 10px 0;
  text-align: center;
}
.sector-main .receipt .receipt-cont .logo img {
  display: inline-block;
  padding: 9.6px 25.5px;
  width: 203px;
  height: 40px;
  box-sizing: border-box;
}
.sector-main .receipt .receipt-cont .price {
  padding: 12px 0;
  text-align: center;
  font-size: 14px;
  line-height: 19.6px;
  letter-spacing: -0.28px;
  font-weight: 400;
  color: #222;
}
.sector-main .receipt .receipt-cont .amount {
  font-size: 18px;
  line-height: 25.2px;
  letter-spacing: -0.36px;
  font-weight: 700;
  color: #222;
}
.sector-main .receipt .cont-box {
  position: relative;
  padding-bottom: 12px;
}
.sector-main .receipt .cont-box > div {
  padding: 12px 0;
  margin: 0 20px;
  box-sizing: border-box;
}
.sector-main .receipt .cont-box > div table {
  width: 100%;
}
.sector-main .receipt .cont-box > div.purchase-cont {
  font-size: 14px;
  line-height: 19.6px;
  letter-spacing: -0.28px;
  font-weight: 400;
  color: #222;
  border-bottom: 1px solid #dcdee0;
}
.sector-main .receipt .cont-box > div.purchase-cont table {
  width: 100%;
}
.sector-main .receipt .cont-box > div.purchase-cont table tr {
  height: 24px;
}
.sector-main .receipt .cont-box > div.purchase-cont table tr.title {
  height: 32px;
}
.sector-main .receipt .cont-box > div.purchase-cont table tr.title td {
  text-align: center;
  padding-bottom: 12px;
  height: 20px;
}
.sector-main .receipt .cont-box > div.purchase-cont table tr.title td:nth-child(2) {
  text-align: left;
}
.sector-main .receipt .cont-box > div.purchase-cont table tr.title td:last-child {
  text-align: right;
}
.sector-main .receipt .cont-box > div.purchase-cont table tr td {
  padding-bottom: 4px;
  vertical-align: middle;
}
.sector-main .receipt .cont-box > div.purchase-cont table tr:last-child td {
  padding-bottom: 12px;
}
.sector-main .receipt .cont-box > div.purchase-cont table tr.item td:nth-child(3) {
  text-align: center;
}
.sector-main .receipt .cont-box > div.purchase-cont table tr.item td:last-child {
  text-align: right;
}
.sector-main .receipt .cont-box > div.tax-cont, .sector-main .receipt .cont-box > div.price-cont {
  padding: 4px 0;
  font-size: 14px;
  line-height: 19.6px;
  letter-spacing: -0.28px;
  font-weight: 400;
  color: #888;
  border-bottom: 1px solid #dcdee0;
}
.sector-main .receipt .cont-box > div.tax-cont td, .sector-main .receipt .cont-box > div.price-cont td {
  height: 22px;
  text-align: right;
}
.sector-main .receipt .cont-box > div.total-cont {
  padding: 12px 0 0;
}
.sector-main .receipt .cont-box > div.total-cont tr {
  padding-bottom: 8px;
}
.sector-main .receipt .cont-box > div.total-cont tr td {
  font-size: 16px;
  line-height: 22.4px;
  letter-spacing: -0.32px;
  font-weight: 700;
  color: #222;
  padding-top: 8px;
  height: 20px;
}
.sector-main .receipt .cont-box > div.total-cont tr td:last-child {
  text-align: right;
}
.sector-main .receipt .cont-box > div.company-cont .barcode {
  text-align: center;
  height: 70px;
}
.sector-main .receipt .cont-box > div.company-cont .barcode img {
  width: 245px;
  height: 70px;
}
.sector-main .receipt .cont-box > div.company-cont .company-info {
  font-size: 12px;
  line-height: 16.8px;
  letter-spacing: -0.24px;
  font-weight: 400;
  color: #888;
  padding-top: 12px;
}
.sector-main .receipt .cont-box > div.company-cont .company-info .info-box {
  display: flex;
}
.sector-main .receipt .cont-box > div.company-cont .company-info .info-box > ul {
  width: 50%;
}
.sector-main .receipt .cont-box > div.company-cont .company-info .info-box > ul li {
  padding: 2px 0;
  height: 21px;
  box-sizing: border-box;
}
.sector-main .receipt .cont-box > div.company-cont .company-info .info-box > ul li:nth-child(3) {
  padding-top: 0;
  padding-bottom: 4px;
}
.sector-main .receipt .cont-box > div.company-cont .company-info .info-box.second {
  display: block;
}
.sector-main .receipt .cont-box > div.company-cont .company-info .info-box.second p {
  margin-bottom: 4px;
  box-sizing: border-box;
  height: 17px;
}
.sector-main .receipt .cont-box > div.company-cont .company-info .info-box.second p:last-child {
  margin-bottom: 0;
}
.sector-main .receipt .cont-box:before {
  content: "";
  display: inline-block;
  margin: 0 auto;
  width: 258px;
  height: 100px;
  background-image: url("../image/common/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 73%;
  position: absolute;
  top: calc(50% - 50px);
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.1;
}
.sector-main .receipt .btn-cont {
  padding-top: 12px;
  padding-bottom: 40px;
}
.sector-main .receipt .btn-cont .btn {
  position: relative;
  width: calc(100% - 40px);
  margin: 0 auto;
  margin-bottom: 12px;
}
.sector-main .receipt .btn-cont .btn.kakao {
  margin-bottom: 0;
}
.sector-main .receipt .btn-cont.setting {
  padding-bottom: 22px;
}
.sector-main .receipt .auto-box .title-area {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.sector-main .receipt .auto-box .title-area .title {
  font-size: 16px;
  line-height: 19.09px;
  letter-spacing: -0.32px;
  font-weight: 700;
  color: #222;
}
.sector-main .receipt .auto-box .title-area button {
  width: 24px;
  height: 24px;
  padding: 0;
}
.sector-main .receipt .auto-box .title-area button span {
  width: 100%;
  height: 100%;
}
.sector-main .receipt .auto-box .setting-area.on {
  margin-top: 16px;
  border-top: 1px solid #eee;
  padding-top: 0;
  padding-bottom: 2px;
}
.sector-main .receipt .auto-box .setting-area.on .naver-btn {
  padding-top: 12px;
  margin-bottom: 0;
}
.sector-main .receipt .auto-box .setting-area.on .naver-btn .naver {
  margin-bottom: 12px;
}
.sector-main .receipt .auto-box .setting-area.on .kakao-btn {
  margin-top: 0;
}
.sector-main .receipt .auto-box .setting-area.on .btn {
  margin-bottom: 0;
}
.sector-main .receipt .auto-box .ing {
  width: calc(100% - 40px);
  margin: 0 auto;
}
.sector-main .receipt .auto-box .ing.kakao {
  border-top: 0;
}
.sector-agree .title {
  display: flex;
  align-items: center;
  height: 200px;
  font-size: 28px;
  line-height: 39.2px;
  letter-spacing: -0.56px;
  font-weight: 400;
  color: #222;
  letter-spacing: -0.28px;
  margin-bottom: 36px;
}
.sector-agree .agree-box {
  width: 100%;
  background-color: #fff;
  border-radius: 12px;
  padding: 16px;
  box-sizing: border-box;
}
.sector-agree .agree-box .input-box {
  position: relative;
  width: 100%;
}
.sector-agree .agree-box .input-box .check {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 8px;
  box-sizing: border-box;
}
.sector-agree .agree-box .input-box .check .check-text {
  font-size: 16px;
  line-height: 19.09px;
  letter-spacing: -0.32px;
  font-weight: 400;
  color: #1b1b1b;
  letter-spacing: -0.16px;
}
.sector-agree .agree-box .line {
  width: 100%;
  margin: 0;
}
.sector-agree .agree-box .line:before {
  left: -25px;
}
.sector-agree .agree-box .line:after {
  right: -25px;
}
.sector-agree .btn {
  bottom: 16px;
}
.sector-receipt .setting-box {
  padding: 24px 20px;
  background-color: #fff;
  border-radius: 12px;
  margin: 1px 0 16px;
}
.sector-receipt .setting-box .point-area {
  text-align: center;
  padding-bottom: 16px;
  border-bottom: 1px solid #dcdee0;
}
.sector-receipt .setting-box .point-area .point-title {
  font-size: 20px;
  line-height: 23.87px;
  letter-spacing: -0.4px;
  font-weight: 700;
  color: #333;
  margin-bottom: 4px;
}
.sector-receipt .setting-box .point-area .sub-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 19.09px;
  letter-spacing: -0.32px;
  font-weight: 400;
  color: #333;
}
.sector-receipt .setting-box .point-area .sub-text .point {
  width: 100px;
  font-size: 18px;
  line-height: 21.48px;
  letter-spacing: -0.36px;
  font-weight: 700;
  color: #017F69;
}
.sector-receipt .setting-box .setting-area {
  padding-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sector-receipt .setting-box .setting-area .setting-title {
  font-size: 16px;
  line-height: 19.09px;
  letter-spacing: -0.32px;
  font-weight: 400;
  color: #333;
}
.sector-receipt .reciept-box {
  margin-top: 24px;
}
.sector-receipt .reciept-box .title {
  font-size: 14px;
  line-height: 19.6px;
  letter-spacing: -0.28px;
  font-weight: 400;
  color: #222;
  text-align: center;
  margin-bottom: 8px;
}
.sector-receipt .reciept-box .title .slide-title {
  font-size: 18px;
  line-height: 25.2px;
  letter-spacing: -0.36px;
  font-weight: 700;
  color: #222;
}
.sector-receipt .reciept-box .receipt-item li {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  border-bottom: 1px solid #dcdee0;
}
.sector-receipt .reciept-box .receipt-item li .left {
  display: flex;
  align-items: center;
  gap: 12px;
}
.sector-receipt .reciept-box .receipt-item li .left .item-info span {
  display: block;
}
.sector-receipt .reciept-box .receipt-item li .left .item-info span.store {
  font-size: 16px;
  line-height: 22.4px;
  letter-spacing: -0.32px;
  font-weight: 400;
  color: #222;
}
.sector-receipt .reciept-box .receipt-item li .left .item-info span.date {
  font-size: 14px;
  line-height: 19.6px;
  letter-spacing: -0.28px;
  font-weight: 400;
  color: #888;
}
.sector-receipt .reciept-box .receipt-item li .right .purchase-info span {
  display: block;
  text-align: right;
}
.sector-receipt .reciept-box .receipt-item li .right .purchase-info span.price {
  font-size: 16px;
  line-height: 22.4px;
  letter-spacing: -0.32px;
  font-weight: 700;
  color: #222;
}
.sector-receipt .reciept-box .receipt-item li .right .purchase-info span.purchase-state {
  font-size: 14px;
  line-height: 19.6px;
  letter-spacing: -0.28px;
  font-weight: 400;
  color: #888;
}
.sector-receipt .reciept-box .slick-arrow {
  top: -32px;
}
.sector-receipt .reciept-box .slick-arrow:before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
}
.sector-receipt .reciept-box .slick-arrow.slick-prev {
  left: 50%;
  transform: translateX(-78px);
  width: 24px;
  height: 24px;
  background-image: url("../image/icon/slick-left.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sector-receipt .reciept-box .slick-arrow.slick-next {
  right: 50%;
  transform: translateX(78px);
  width: 24px;
  height: 24px;
  background-image: url("../image/icon/slick-right.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sector-setting {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.sector-setting .content-group > div {
  background-color: #fff;
  border-radius: 12px;
  padding: 15px 20px;
  margin-bottom: 13px;
}
.sector-setting .content-group > div:last-child {
  margin-bottom: 105px;
}
.sector-setting .content-group > div .title-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
  padding-bottom: 12px;
  font-size: 16px;
  line-height: 19.6px;
  letter-spacing: -0.32px;
  font-weight: 400;
  color: #ababab;
  border-bottom: 1px solid #dcdee0;
}
.sector-setting .content-group > div .title-area .title {
  margin-left: 4px;
}
.sector-setting .content-group > div.auto-box {
  padding-bottom: 4px;
}
.sector-setting .content-group > div.auto-box .state-area .state {
  margin-top: 12px;
}
.sector-setting .content-group > div.auto-box .state-area .state .kakao {
  margin-bottom: 16px;
}
.sector-setting .content-group > div.auto-box .setting-area div:first-child {
  padding-top: 0;
  margin-bottom: 12px;
  border-bottom: 1px solid #eee;
}
.sector-setting .content-group > div.auto-box .setting-area div:first-child .ing {
  padding: 16px 0 4px;
}
.sector-setting .content-group > div.auto-box .setting-area div:last-child {
  margin-top: 12px;
}
.sector-setting .content-group > div.auto-box .setting-area div:last-child .ing.kakao {
  border-top: none;
}
.sector-setting .content-group > div.auto-box .setting-area .btn.kakao {
  margin-bottom: 25px;
}
.sector-setting .content-group > div:first-child .title-area {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.sector-setting .content-group > div.user-info-box .info-area table {
  width: 100%;
}
.sector-setting .content-group > div.user-info-box .info-area table tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  padding: 4px 0;
  box-sizing: border-box;
}
.sector-setting .content-group > div.user-info-box .info-area table tr td {
  font-size: 16px;
  line-height: 19.09px;
  letter-spacing: -0.32px;
  font-weight: 400;
  color: #222;
}
.sector-setting .content-group > div.condition-box li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  padding: 4px 0;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 19.09px;
  letter-spacing: -0.32px;
  font-weight: 400;
  color: #222;
}
.sector-setting .content-group > div.btn-group {
  background-color: transparent;
  border-radius: none;
  padding: 0;
}
.sector-loading {
  height: 100%;
  padding: 0 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.sector-loading .loading-area {
  box-sizing: border-box;
  margin-bottom: 60px;
}
.sector-loading .loading-title {
  text-align: center;
  font-size: 18px;
  line-height: 25.2px;
  letter-spacing: -0.36px;
  font-weight: 800;
  color: #222;
}/*# sourceMappingURL=main.css.map */