@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.2 | 20191019
   License: none (public domain)
*/
@import url("/asset/scss/config/_font-face.scss");
@import url("/asset/scss/utils/_mixin.scss");
@import url("/asset/scss/utils/_mixin.scss");
@import url("/asset/scss/utils/_vars.scss");
@import url("/asset/scss/utils/_mixin.scss");
@import url("/asset/scss/utils/_vars.scss");
@import url("/asset/scss/utils/_mixin.scss");
@import url("/asset/scss/utils/_vars.scss");
@import url("/asset/scss/utils/_mixin.scss");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu,
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.hl-1 {
  font-size: 48px;
  line-height: 22.5px;
  letter-spacing: 0.96px;
  font-weight: 700;
}
@media (min-width: 375px) and (max-width: 720px) {
  .hl-1 {
    font-size: 24px;
    letter-spacing: -0.48px;
  }
}

.hl-2 {
  font-size: 40px;
  letter-spacing: -0.8px;
}
@font-face {
  font-family: Pretendard;
  font-weight: 700;
  font-style: normal;
  src: url("/asset/font/Pretendard-Bold.woff") format("woff"), url("/asset/font/Pretendard-Bold.ttf") format("truetype");
}
@media (min-width: 375px) and (max-width: 720px) {
  .hl-2 {
    font-size: 20px;
    letter-spacing: -0.4px;
  }
}

.hl-3 {
  font-size: 32px;
  line-height: 22.5px;
  letter-spacing: 0.64px;
  font-weight: 700;
}
@media (min-width: 375px) and (max-width: 720px) {
  .hl-3 {
    font-size: 18px;
    letter-spacing: -0.36px;
  }
}

.title-1 {
  font-size: 28px;
  letter-spacing: -0.56px;
}
@font-face {
  font-family: Pretendard;
  font-weight: 700;
  font-style: normal;
  src: url("/asset/font/Pretendard-Bold.woff") format("woff"), url("/asset/font/Pretendard-Bold.ttf") format("truetype");
}

.title-2 {
  font-size: 24px;
  letter-spacing: -0.48px;
}
@font-face {
  font-family: Pretendard;
  font-weight: 700;
  font-style: normal;
  src: url("/asset/font/Pretendard-Bold.woff") format("woff"), url("/asset/font/Pretendard-Bold.ttf") format("truetype");
}

.title-2 {
  font-size: 22px;
  letter-spacing: -0.44px;
}
@font-face {
  font-family: Pretendard;
  font-weight: 700;
  font-style: normal;
  src: url("/asset/font/Pretendard-Bold.woff") format("woff"), url("/asset/font/Pretendard-Bold.ttf") format("truetype");
}

.body-lb {
  font-size: 18px;
  letter-spacing: -0.36px;
}
@font-face {
  font-family: Pretendard;
  font-weight: 700;
  font-style: normal;
  src: url("/asset/font/Pretendard-Bold.woff") format("woff"), url("/asset/font/Pretendard-Bold.ttf") format("truetype");
}

.body-mb {
  font-size: 16px;
  letter-spacing: -0.32px;
}
@font-face {
  font-family: Pretendard;
  font-weight: 700;
  font-style: normal;
  src: url("/asset/font/Pretendard-Bold.woff") format("woff"), url("/asset/font/Pretendard-Bold.ttf") format("truetype");
}

.body-sb {
  font-size: 14px;
  letter-spacing: -0.28px;
}
@font-face {
  font-family: Pretendard;
  font-weight: 700;
  font-style: normal;
  src: url("/asset/font/Pretendard-Bold.woff") format("woff"), url("/asset/font/Pretendard-Bold.ttf") format("truetype");
}

.body-lm {
  font-size: 18px;
}
@font-face {
  font-family: Pretendard;
  font-weight: 500;
  font-style: normal;
  src: url("/asset/font/Pretendard-Medium.woff") format("woff"), url("/asset/font/Pretendard-Medium.ttf") format("truetype");
}

.body-mm {
  font-size: 16px;
}
@font-face {
  font-family: Pretendard;
  font-weight: 500;
  font-style: normal;
  src: url("/asset/font/Pretendard-Medium.woff") format("woff"), url("/asset/font/Pretendard-Medium.ttf") format("truetype");
}

.body-sm {
  font-size: 14px;
}
@font-face {
  font-family: Pretendard;
  font-weight: 500;
  font-style: normal;
  src: url("/asset/font/Pretendard-Medium.woff") format("woff"), url("/asset/font/Pretendard-Medium.ttf") format("truetype");
}

.body-lr {
  font-size: 18px;
}
@font-face {
  font-family: Pretendard;
  font-weight: 400;
  font-style: normal;
  src: url("/asset/font/Pretendard-Regular.woff") format("woff"), url("/asset/font/Pretendard-Regular.ttf") format("truetype");
}

.body-lm {
  font-size: 16px;
}
@font-face {
  font-family: Pretendard;
  font-weight: 400;
  font-style: normal;
  src: url("/asset/font/Pretendard-Regular.woff") format("woff"), url("/asset/font/Pretendard-Regular.ttf") format("truetype");
}

.body-sr {
  font-size: 14px;
}
@font-face {
  font-family: Pretendard;
  font-weight: 400;
  font-style: normal;
  src: url("/asset/font/Pretendard-Regular.woff") format("woff"), url("/asset/font/Pretendard-Regular.ttf") format("truetype");
}

.caption-lb {
  font-size: 13px;
}
@font-face {
  font-family: Pretendard;
  font-weight: 700;
  font-style: normal;
  src: url("/asset/font/Pretendard-Bold.woff") format("woff"), url("/asset/font/Pretendard-Bold.ttf") format("truetype");
}

.caption-mb {
  font-size: 12px;
}
@font-face {
  font-family: Pretendard;
  font-weight: 700;
  font-style: normal;
  src: url("/asset/font/Pretendard-Bold.woff") format("woff"), url("/asset/font/Pretendard-Bold.ttf") format("truetype");
}

.caption-sb {
  font-size: 11px;
}
@font-face {
  font-family: Pretendard;
  font-weight: 700;
  font-style: normal;
  src: url("/asset/font/Pretendard-Bold.woff") format("woff"), url("/asset/font/Pretendard-Bold.ttf") format("truetype");
}

.caption-lm {
  font-size: 13px;
}
@font-face {
  font-family: Pretendard;
  font-weight: 500;
  font-style: normal;
  src: url("/asset/font/Pretendard-Medium.woff") format("woff"), url("/asset/font/Pretendard-Medium.ttf") format("truetype");
}

.caption-mm {
  font-size: 12px;
}
@font-face {
  font-family: Pretendard;
  font-weight: 500;
  font-style: normal;
  src: url("/asset/font/Pretendard-Medium.woff") format("woff"), url("/asset/font/Pretendard-Medium.ttf") format("truetype");
}

.caption-sm {
  font-size: 11px;
}
@font-face {
  font-family: Pretendard;
  font-weight: 500;
  font-style: normal;
  src: url("/asset/font/Pretendard-Medium.woff") format("woff"), url("/asset/font/Pretendard-Medium.ttf") format("truetype");
}

.body-lr {
  font-size: 13px;
}
@font-face {
  font-family: Pretendard;
  font-weight: 400;
  font-style: normal;
  src: url("/asset/font/Pretendard-Regular.woff") format("woff"), url("/asset/font/Pretendard-Regular.ttf") format("truetype");
}

.body-lm {
  font-size: 12px;
}
@font-face {
  font-family: Pretendard;
  font-weight: 400;
  font-style: normal;
  src: url("/asset/font/Pretendard-Regular.woff") format("woff"), url("/asset/font/Pretendard-Regular.ttf") format("truetype");
}

.body-sr {
  font-size: 11px;
}
@font-face {
  font-family: Pretendard;
  font-weight: 400;
  font-style: normal;
  src: url("/asset/font/Pretendard-Regular.woff") format("woff"), url("/asset/font/Pretendard-Regular.ttf") format("truetype");
}

html {
  font-size: 10px;
  overflow-x: hidden;
}

body {
  font-family: Pretendard, "맑은고딕", Arial, sans-serif;
}
@font-face {
  font-family: Pretendard;
  font-weight: 700;
  font-style: normal;
  src: url("/asset/font/Pretendard-Bold.woff") format("woff"), url("/asset/font/Pretendard-Bold.ttf") format("truetype");
}
@font-face {
  font-family: Pretendard;
  font-weight: 500;
  font-style: normal;
  src: url("/asset/font/Pretendard-Medium.woff") format("woff"), url("/asset/font/Pretendard-Medium.ttf") format("truetype");
}
@font-face {
  font-family: Pretendard;
  font-weight: 400;
  font-style: normal;
  src: url("/asset/font/Pretendard-Regular.woff") format("woff"), url("/asset/font/Pretendard-Regular.ttf") format("truetype");
}

.inquery-button {
  width: 135px;
  height: 57px;
  background-color: #0089D0;
  color: #fff;
  box-sizing: border-box;
  background-repeat: 8px;
  padding: 16px 36px;
  line-height: 25.2px;
}
.inquery-button:hover {
  width: 135px;
  height: 57px;
  background-color: #24AFF7;
  color: #fff;
  box-sizing: border-box;
  background-repeat: 8px;
  padding: 16px 36px;
  line-height: 25.2px;
}
.inquery-button.pressed {
  width: 135px;
  height: 57px;
  background-color: #005F8F;
  color: #fff;
  box-sizing: border-box;
  background-repeat: 8px;
  padding: 16px 36px;
  line-height: 25.2px;
}
.inquery-button.disable {
  width: 135px;
  height: 57px;
  background-color: #aaa;
  color: #fff;
  box-sizing: border-box;
  background-repeat: 8px;
  padding: 16px 36px;
  line-height: 25.2px;
}

.tab-card-01 {
  width: 22.86%;
  height: 468px;
  border-radius: 40px;
  background-image: url("/asset/image/pc/tab_01.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 375px) and (max-width: 720px) {
  .tab-card-01 {
    width: 100%;
    height: 150px;
    border-radius: 40px;
    background-image: url("/asset/image/mo/tab_0i.png");
  }
}

.tab-card-02 {
  width: 22.86%;
  height: 468px;
  border-radius: 40px;
  background-image: url("/asset/image/pc/tab_02.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 375px) and (max-width: 720px) {
  .tab-card-02 {
    width: 100%;
    height: 150px;
    border-radius: 40px;
    background-image: url("/asset/image/mo/tab_0i.png");
  }
}

.tab-card-03 {
  width: 22.86%;
  height: 468px;
  border-radius: 40px;
  background-image: url("/asset/image/pc/tab_03.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 375px) and (max-width: 720px) {
  .tab-card-03 {
    width: 100%;
    height: 150px;
    border-radius: 40px;
    background-image: url("/asset/image/mo/tab_0i.png");
  }
}

.tab-card-04 {
  width: 22.86%;
  height: 468px;
  border-radius: 40px;
  background-image: url("/asset/image/pc/tab_04.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 375px) and (max-width: 720px) {
  .tab-card-04 {
    width: 100%;
    height: 150px;
    border-radius: 40px;
    background-image: url("/asset/image/mo/tab_0i.png");
  }
}

.tab-content-card {
  width: 74.39%;
  height: 468px;
  border-radius: 40px;
  background-color: #DCEDF8;
}
@media (min-width: 375px) and (max-width: 720px) {
  .tab-content-card {
    width: 100%;
    height: 528px;
    border-radius: 40px;
  }
}

.service-card-_01 {
  width: 100%;
  height: 465px;
  border-radius: 40px;
  background-image: url("/asset/image/pc/service_0i.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 375px) and (max-width: 720px) {
  .service-card-_01 {
    width: 100%;
    height: 560px;
    border-radius: 40px;
    background-image: url("/asset/image/mo/service_0i.png");
  }
}

input {
  width: 100%;
  height: 44px;
  box-sizing: border-box;
  border: 1px solid #9a9a9a;
  padding: 12px 13px 12px 12px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.28px;
  line-height: 19.6px;
  color: #333;
}
input::-moz-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  letter-spacing: -0.32px;
}
input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  letter-spacing: -0.32px;
}
input.pressed {
  width: 100%;
  height: 44px;
  box-sizing: border-box;
  border: 1px solid #4263EB;
  padding: 12px 13px 12px 12px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.28px;
  line-height: 19.6px;
  color: #333;
}
input.disable {
  width: 100%;
  height: 44px;
  box-sizing: border-box;
  border: 1px solid #DD2C2F;
  padding: 12px 13px 12px 12px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.28px;
  line-height: 19.6px;
  color: #333;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
}
header .inner {
  width: calc(100% - 100px);
  margin: 0 auto;
  padding: 20px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 375px) and (max-width: 1440px) {
  header .inner {
    width: calc(100% - 40px);
    padding: 10px 0;
  }
}
header .inner .logo {
  width: 151px;
  height: 60px;
  background-image: url("/asset/image/pc/logo_scroll.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header .inner .nav-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .inner .nav-box .nav-bar {
  display: flex;
}
header .inner .nav-box .nav-bar li {
  width: 100px;
  margin-right: 30px;
  text-align: center;
  line-height: 25.2px;
}
header .inner .nav-box .nav-bar li a {
  width: 100%;
  color: #fff;
}
header .inner .nav-box .nav-bar li a:active, header .inner .nav-box .nav-bar li a:hover {
  color: #0089D0;
}
header .inner .nav-box .language-selector {
  position: relative;
}
header .inner .nav-box .language-selector button {
  width: 113px;
  height: 41px;
  padding: 8px 16px;
  box-sizing: border-box;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 8px;
}
header .inner .nav-box .language-selector button span {
  display: inline-block;
  width: 100%;
  color: #fff;
  text-align: left;
}
header .inner .nav-box .language-selector button span:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 8px;
  right: 16px;
  width: 24px;
  height: 24px;
  background-image: url("/asset/image/pc/chevron-down.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header .inner .nav-box .language-selector ul.language-dropdown {
  display: none;
  position: absolute;
  top: 41px;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: 8px;
  color: #fff;
  overflow: hidden;
}
header .inner .nav-box .language-selector ul.language-dropdown li {
  width: 100%;
  height: 41px;
}
header .inner .nav-box .language-selector ul.language-dropdown li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 8px 16px;
  box-sizing: border-box;
  line-height: 25.2px;
  text-align: left;
}
header .inner .nav-box .language-selector ul.language-dropdown li a:hover {
  color: #333;
  background-color: #fff;
}
header .inner .nav-box .language-selector ul.language-dropdown li a:active {
  color: #0089D0;
}
header .inner .nav-box .language-selector.active ul.language-dropdown {
  display: block;
}

main .inner {
  width: 1400px;
  margin: 0 auto;
  padding: 100px 0;
}
@media (min-width: 375px) and (max-width: 1440px) {
  main .inner {
    width: calc(100% - 40px);
  }
}
main .sector-visual {
  height: 800px;
  padding: 0;
  width: 100%;
  height: 800px;
  background-image: url("/asset/image/pc/visual.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .sector-tab .tab-list {
  display: flex;
  justify-content: space-between;
  padding: 0 70px 50px;
}
main .sector-tab .tab-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 19%;
  height: 196px;
  box-sizing: border-box;
  border-bottom: 5px solid transparent;
}
main .sector-tab .tab-list li .tab-icon-01 {
  display: inline-block;
  width: 100rem;
  height: 100rem;
  background-image: url("/asset/image/pc/tab_icon_01.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 375px) and (max-width: 720px) {
  main .sector-tab .tab-list li .tab-icon-01 {
    width: 60px;
    height: 60px;
    border-radius: 40px;
    background-image: url("/asset/image/pc/tab_icon_0i.png");
  }
}
main .sector-tab .tab-list li .tab-icon-02 {
  display: inline-block;
  width: 100rem;
  height: 100rem;
  background-image: url("/asset/image/pc/tab_icon_02.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 375px) and (max-width: 720px) {
  main .sector-tab .tab-list li .tab-icon-02 {
    width: 60px;
    height: 60px;
    border-radius: 40px;
    background-image: url("/asset/image/pc/tab_icon_0i.png");
  }
}
main .sector-tab .tab-list li .tab-icon-03 {
  display: inline-block;
  width: 100rem;
  height: 100rem;
  background-image: url("/asset/image/pc/tab_icon_03.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 375px) and (max-width: 720px) {
  main .sector-tab .tab-list li .tab-icon-03 {
    width: 60px;
    height: 60px;
    border-radius: 40px;
    background-image: url("/asset/image/pc/tab_icon_0i.png");
  }
}
main .sector-tab .tab-list li .tab-icon-04 {
  display: inline-block;
  width: 100rem;
  height: 100rem;
  background-image: url("/asset/image/pc/tab_icon_04.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 375px) and (max-width: 720px) {
  main .sector-tab .tab-list li .tab-icon-04 {
    width: 60px;
    height: 60px;
    border-radius: 40px;
    background-image: url("/asset/image/pc/tab_icon_0i.png");
  }
}
main .sector-tab .tab-list li .tab-name {
  display: inline-block;
  margin-top: 20px;
  padding-bottom: 28px;
  text-align: center;
  font-weight: 400;
  font-size: 2.4rem;
  letter-spacing: -0.48px;
  line-height: 28.8px;
  vertical-align: bottom;
}
main .sector-tab .tab-list li.on {
  border-bottom: 5px solid #0089D0;
}
main .sector-tab .tab-list li.on .tab-name {
  color: #0089D0;
  font-weight: 700;
}
main .sector-tab .tab-content > li {
  display: none;
}
main .sector-tab .tab-content > li .cont-title {
  margin-right: 3%;
  padding: 100px 35px;
  box-sizing: border-box;
  color: #fff;
  text-align: center;
}
main .sector-tab .tab-content > li .tab-content-card {
  padding: 43.5px 50px;
  box-sizing: border-box;
}
main .sector-tab .tab-content > li .tab-content-card .card-title {
  margin-bottom: 20px;
}
main .sector-tab .tab-content > li .tab-content-card ul.card-content {
  padding: 30px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.6);
  min-height: 323px;
  box-sizing: border-box;
}
main .sector-tab .tab-content > li .tab-content-card ul.card-content li {
  line-height: 28.8px;
  margin-bottom: 10px;
}
main .sector-tab .tab-content > li .tab-content-card ul.card-content li:before {
  content: "";
  display: inline-block;
  margin: 0 12px;
  width: 4px;
  height: 4px;
  background-color: #333;
  border-radius: 50%;
  vertical-align: middle;
}
main .sector-tab .tab-content > li.on {
  display: flex;
}

.inner {
  width: 1400px;
  margin: 0 auto;
}
@media (min-width: 375px) and (max-width: 1440px) {
  .inner {
    width: calc(100% - 40px);
  }
}/*# sourceMappingURL=main.css.map */