@import url('/asset/scss/utils/_vars.scss');
@import url('/asset/scss/utils/_mixin.scss');

@for $i from 1 to 5 {
    .tab-card-0#{$i} {
        @include cardStyle(22.86%, 468px);
        background-image: url('/asset/image/pc/tab_0#{$i}.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        @media (min-width:$breakpoint-mobile) and (max-width : $breakpoint-tablet) {
            @include cardStyle(100%, 150px);
            background-image: url('/asset/image/mo/tab_0#{i}.png');
        }
    }
}

.tab-content-card {
    @include cardStyle(74.39%, 468px);
    background-color: #DCEDF8;
    @media (min-width:$breakpoint-mobile) and (max-width : $breakpoint-tablet) {
        @include cardStyle(100%, 528px);
    }
}

@for $i from 1 to 2 {
    .service-card-_0#{$i} {
        @include cardStyle(100%, 465px);
        background-image: url('/asset/image/pc/service_0#{i}.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        @media (min-width:$breakpoint-mobile) and (max-width : $breakpoint-tablet) {
            @include cardStyle(100%, 560px);
            background-image: url('/asset/image/mo/service_0#{i}.png');
        }
    }
}

