
#popup {
  display: block;
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $white;

  .inner {
    width: 100%;
    padding: 50px 16px;
    box-sizing: border-box;

  }
}
