.dimmed {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #00000033;
  z-index: 10;
}
.popup {
  display: none;
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $white;
  @include tablet {
    width: 60% ;
  }
  .inner {
    width: 100%;
    padding: 50px 16px;
    box-sizing: border-box;
    @include tablet {
      padding: 100px 80px;
    }

    .cont-box {
      .close-btn {
        a {
          display: inline-block;
          position: absolute;
          top: 16px;
          right: 16px;
          @include backgroundImage(36px, 36px, "/icon/close.svg");
        }
      }

      .title {
        @include fontStyle(28px, 33.6px, 700);
        margin-bottom: 30px;
      }
      .input-box {
        margin-bottom: 50px;
        .input-item {
          display: flex;
          margin-bottom: 20px;
          span {
            display: inline-block;
            width: 80px;
            margin-top: 12px;
            @include fontStyle(16px, 18.75px, 400);
          }
          input {
            display: inline-block;
            width: calc(100% - 80px);
          }
          textarea {
            width: calc(100% - 80px);
            height: 210px;
            padding: 12px;
            border: 1px solid #9a9a9a;
            border-radius: 4px;
            box-sizing: border-box;
            overflow-y: scroll;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      .button-box {
        text-align: center;
      }
    }
  }
}
