main {
  .inner {
    padding: 50px 0;

    .title {
      margin-bottom: 50px;
      .text {
        @include fontStyle(28px, 33.6px, 700);
        margin-bottom: 8px;
        @include tablet {
          @include fontStyle(40px, 56px, 700);
          margin-bottom: 24px;
        }
      }
      .desc {
        @include fontStyle(18px, 25.2px, 400);
        @include tablet {
          @include fontStyle(24px, 28.8px, 400);
        }
      }
    }
    @include tablet {
      padding: 100px 0;
    }
  }

  br{
    @include tablet {
      display: none;
      &.only-pc, &.common {
        display: block !important;
      }
    }
  }

  .top-button {
    display: inline-block;
    position: fixed;
    bottom: 25px;
    right: 16px;
    width: 43px;
    height: 43px;
    z-index: 20;
    a {
      display: inline-block;
      width: 100px;
      height: 100px;
      @include backgroundImage(43px, 43px,'/common/top_btn.png')
    }

    @include tablet {
      display: none !important;
    }
  }

  .sector {
    //.sector-visual
    &-visual {
      height: 100vh;
      padding: 0 24px;
      box-sizing: border-box;
      @include backgroundImage(100%, 800px, "mo/visual.png");
      p {
        @include fontStyle(40px, 56px, 700, $white);
        padding-top: 200px;
      }
      @include tablet {
        position: relative;
        height: 800px;
        @include backgroundImage(100%, 800px, "pc/visual.png");
       .title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0;
       }
      }
    }

    //.sector-tab
    &-tab {
      .tab-list {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        overflow: hidden;
        li {
          display: flex;
          width: 140px !important;
          flex-direction: column;
          align-items: center;
          margin-right: 14px;
          @for $i from 1 to 5 {
            .tab-icon-0#{$i} {
              display: inline-block;
              width: 60px;
              height: 60px;
              background-image: url("/asset/image/common/tab_icon_0#{$i}.png");
              background-size: contain;
              background-position: center;
              background-repeat: no-repeat;
            }
          }

          .tab-name {
            display: inline-block;
            height: 60px;
            margin-top: 4px;
            padding-bottom: 12px;
            text-align: center;
            @include fontStyle(18px, 25.2px, 400);
            vertical-align: bottom;
          }
          //.tab-list li.on
          &.on {
            border-bottom: 5px solid $primary;

            .tab-name {
              color: $primary;
              font-weight: 700;
            }
          }
        }
      }

      .tab-content {
        margin-top: 20px;
        padding: 0 20px;
        > .cont {
          display: none;
          //.cont.on
          &.on {
            display: block;
          }

          .cont-title {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 12px;
            box-sizing: border-box;
            @include fontStyle(24px, 28.8px, 700, $white);
            text-align: center;
          }

          .tab-content-card {
            width: 100%;
            padding: 24px 10px;
            box-sizing: border-box;

            .card-title {
              @include fontStyle(24px, 28.8px, 700);
              text-align: center;
              margin-bottom: 12px;
            }

            ul.card-content {
              padding: 16px 8px;
              border-radius: 16px;
              background-color: rgba(255, 255, 255, 0.6);
              min-height: 400px;
              box-sizing: border-box;

              li {
                position: relative;
                padding-left: 28px;
                @include fontStyle(16px, 22.4px, 400);
                margin-bottom: 10px;
                &:before {
                  content: "";
                  display: inline-block;
                  position: absolute;
                  top: 10px;
                  left: 12px;
                  width: 4px;
                  height: 4px;
                  background-color: $basic;
                  border-radius: 50%;
                  vertical-align: middle;
                }
              }
            }
          }
        }
      }

      @include tablet {
        .inner.wide{
          @include tablet {
            width: 1400px;
            margin: 0 auto;
          }
        }
  
        .tab-list {
          padding: 0 70px 50px;
          box-sizing: border-box;
          li {
            width: 19% !important;
            box-sizing: border-box;
            border-bottom: 5px solid transparent;
  
            .tab-name {
              margin-top: 24px;
              margin-bottom: 12px;
              @include fontStyle (24px, 28.8px, 400);
              text-align: center;
              vertical-align: bottom;
            }
          }
        }


        .tab-content {
          > .cont {
            display: none;

            .cont-title {
              display: block;
              margin-right: 3%;
              padding: 100px 35px;
              border-radius: 40px;
              @include fontStyle (32px, 38.4px,700,$white);
            }

            .tab-content-card {
              padding: 43.5px 50px;
              border-radius: 40px;
              box-sizing: border-box;
              
              .card-title {
                margin-bottom: 20px;
                @include fontStyle (32px, 38.4px,700);
                text-align: left;
              }

              ul.card-content {
                padding: 30px;
                border-radius: 16px;
                background-color: rgba(255, 255, 255, 0.6);
                min-height: 323px;
                box-sizing: border-box;

                li {
                  @include fontStyle(18px, 28.8px, 400);
                  margin-bottom: 10px;
                }
              }
            }

            &.on {
              display: flex;
            }
          }
        }
      }
    }

    //.sector-history
    &-history {
      .cont-box {
        @include tablet {
          
          width: 47.6%;
          box-sizing: border-box;
          padding-top: 100px;
          margin: 0 auto;
        }
        dl {
          position: relative;
          display: flex;
          dt {
            position: relative;
            padding-left: 21px;
            @include fontStyle(28px, 33.6px, 700);
            &:before {
              content: "";
              display: inline-block;
              position: absolute;
              top: 0;
              left: -17px;
              @include backgroundImage(34px, 34px, "icon/round.svg");
              @include tablet {
                display: none;
                padding-left: 0;
              }
            }
            @include tablet {
              width: 192px;
              padding-right: 42px;
              box-sizing: border-box;
            }
          }
  
          dd {
            position: relative;
            padding: 16px 0 24px 21px;
            border-left: 1px solid $basic;
  
            @include tablet {
              padding: 0 0 50px 80px;
              &:before {
                content: "";
                display: inline-block;
                position: absolute;
                top: 0;
                left: -17px;
                @include backgroundImage(34px, 34px, "icon/round.svg");
              }
             
            }
  
            li {
              display: flex;
              align-items: center;
              margin-bottom: 8px;
              @include fontStyle(16px, 22.4px, 400);
  
              .month-flag {
                margin-right: 8px;
                padding: 4px 8px;
                box-sizing: border-box;
                height: 25px;
                border-radius: 8px;
                border: 1px solid #9a9a9a;
                @include fontStyle(12px, 16.8px, 400, #9a9a9a);
              }
            }
            .sub-title {
              display: inline-block;
              margin-bottom: 8px;
              @include fontStyle(16px, 22.4px, 400);
            }
          }

          &:last-child {
            dd {
              border-left:  none;
            }
        }
        }
      }
    }

    //.sector-service
    &-service {
      background-color: #f1faff;

      .title {
        margin-bottom: 20px;
      }

      .service-slide {
        .service-card {
          width: 100%;
          height: auto;
          padding: 44.5px 20px;
          box-sizing: border-box;
          min-height: 560px;
          text-align: center;
          color: $white;

          &.service-card-02 {
            padding-top: 100px;
          }

          .card-cont {
            margin: 0 auto;
            max-width: 295px;
            margin-bottom: 12px;
            .sub-title {
              @include fontStyle(16px, 22.4px, 700, $white);
              margin-bottom: 8px;
            }
            .cont-list {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              li {
                position: relative;
                display: block;
                width: fit-content;
                @include fontStyle(16px, 19.2px, 400, $white);
                margin-bottom: 8px;
                padding-left: 20px;
                &:before {
                  content: "";
                  display: inline-block;
                  position: absolute;
                  top: 0;
                  left: 0px;
                  margin-right: 4px;
                  @include backgroundImage(16px, 19px, "icon/check.svg");
                }

                &:last-child {
                  margin-bottom: 0;
                }
              }
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }

        .slick-dots {
          display: flex;
          justify-content: center;
          bottom: -32px;
          li {
            display: inline-block;
            width: 12px;
            height: 12px;
            margin-right: 20px;
            border-radius: 50%;
            border: 1px solid $basic;
            //.slick-dots:last-child
            &:last-child {
              margin-right: 0;
            }
            //.slick-dots.slick-active
            &.slick-active {
              background-color: $basic;
            }
          }
        }
      }
    }

    //.sector-contact
    &-contact {
      .map-box {
        border-radius: 40px;
        overflow: hidden;
        margin-bottom: 20px;
      }

      .cont-box {
        .cont-title {
          @include fontStyle(22px, 26.4px, 700);
          margin-bottom: 16px;
        }

        .contact-list {
          .contact {
            //.contact-item
            &-item {
              @include fontStyle(18px, 25.2px, 400);
              margin-bottom: 12px;
              display: flex;
              align-items: center;
              &:last-child {
                margin-bottom: 0;
              }
              @for $i from 1 to 4 {
                &.item-0#{$i} {
                  &:before {
                    content: "";
                    display: inline-block;
                    background-image: url("/asset/image/icon/contact_0#{$i}.svg");
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    width: 36px;
                    height: 36px;
                    margin-right: 20px;
                  }
                }
              }
            }
            &-item {
              @include fontStyle(18px, 25.2px, 400);
              margin-bottom: 12px;
              display: flex;
              align-items: center;
              &:last-child {
                margin-bottom: 0;
              }
              @for $i from 1 to 4 {
                &.item-0#{$i} {
                  &:before {
                    content: "";
                    display: inline-block;
                    background-image: url("/asset/image/icon/contact_0#{$i}.svg");
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    width: 36px;
                    height: 36px;
                    margin-right: 20px;
                  }
                }
              }
            }
          }
        }
      }
    }

    //.sector-message
    &-message {
      background-color: #ecf3f8;
      padding: 24px 20px;
      text-align: center;
      .text {
        @include fontStyle(22px, 26.4px, 700);
        margin-bottom: 20px;
      }
      .inquery-button {
        display: inline-block;
      }
    }
  }
}
