footer {
  .inner {
    padding: 30px 20px 29px;
    text-align: center;
    @include fontStyle(13px,18.2px,400,#666);
    @include tablet {
      display: flex;
      justify-content: space-between;
    }
    .text {
      display: inline-block;
      margin-bottom: 12px;
    }
    .corp-list{
      span{
        display: inline-block;
        margin-right: 20px;
        // span:last-child
        &:last-child {
          margin-right: 0;
        }
        // span.active
        &.active {
          color:$basic;
        }
      }
    }
  }
}