header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 80px;
  box-sizing: border-box;
  z-index: 50 !important;
  @include tablet {
    height: 100px;
    position: fixed;
  }

  //피씨 스크롤 작동했을 때
  //header.scroll
  &.scroll {
    background: rgba(255, 255, 255, 0.8);

    .inner{
      .logo {
        @include backgroundImage(
          151px,
          60px,
          "common/logo_scroll.png",
          contain
        );
      }
      .nav-box {
        .nav-bar {
          li {
            a{
             color:$basic;
             &:active, 
             &:hover {
              font-weight: 700;
              color:$basic;
             }
            }
           }
          }
        .language-selector {
          .language-btn {
            border-color:$basic;
            span {
              color:$basic;
              &:after {
                @include backgroundImage(24px, 24px, "icon/chevron_down.svg");
              }
            }
          }
          &.active {
            ul{
              &.language-dropdown {
                border-color: $basic;
                background-color: $white;
                
                li {
                  a {
                    color: $basic;
                    &:hover {
                      background-color: #f1faff;
                      color:$basic;
                    }
                  }
                  &.clicked {
                    color:#0189d0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  // 모바일 슬라이드 메뉴 열렸을 때
  //header.slide-on
  &.slide-on {
    background-color: $white;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
    .inner {
      .logo {
        @include backgroundImage(
          120px,
          60px,
          "common/logo_scroll.png",
          contain
        );
      }
      .nav-btn {
        @include backgroundImage(36px, 36px, "icon/close.svg");
      }
    }
  }

  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;

    @include tablet {
      width: calc(100% - 20px);
      padding: 20px 10px;
    }

    .logo {
      @include backgroundImage(120px, 60px, "common/logo.png", contain);
      @include tablet {
        @include backgroundImage(151px, 60px, "common/logo.png");
      }
    }

    // 모바일 사이드메뉴
    .nav-btn {
      @include backgroundImage(36px, 36px, "icon/menu.svg");
      @include tablet {
        display: none;
      }
    }

    // pc 네비게이션 메뉴
    .nav-box {
      display: none;
      @include tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .nav-bar {
          display: flex;
          li {
            width: 100px;
            margin-right: 30px;
            text-align: center;
            line-height: 25.2px;
            @include fontStyle(18px, 25.2px, 400, $white);
            a {
              @include fontStyle(18px, 25.2px, 400, $white);
              color: $white;
              &:active,
              &:hover {
                color: $primary;
              }
            }
            @include tablet {
              margin-right: 0;
              &:last-child {
                margin-right: 30px;
              }
            }

          }
        }
      }
    }

    @include tablet {
      .language-selector {
        position: relative;
        width: 113px;
        height: 41px;
        .language-btn {
          width: 100%;
          height: 100%;
          padding: 8px 16px;
          box-sizing: border-box;
          background: transparent;
          border: 1px solid $white;
          border-radius: 8px;
          @include fontStyle (18px, 25.2px, 400,$white);
          span {
            display: inline-block;
            width: 100%;    
            color: $white;
            text-align: left;
            &:after {
              content: "";
              display: inline-block;
              position: absolute;
              top: 8px;
              right: 16px;
              @include backgroundImage(24px, 24px, "pc/chevron-down.svg");
            }
          }
        }
        ul.language-dropdown {
          display: none;
          position: absolute;
          top: 41px;
          left: 0;
          width: 100%;
          box-sizing: border-box;
          border: 1px solid $white;
          border-radius: 8px;
          color: $white;
          overflow: hidden;
          li {
            width: 100%;
            height: 41px;

            a {
              display: inline-block;
              width: 100%;
              height: 100%;
              padding: 8px 16px;
              box-sizing: border-box;
              line-height: 25.2px;
              text-align: left;
              @include fontStyle (18px, 25.2px, 400,$white);
              &:hover {
                color: $basic;
                background-color: #F1FAFF;
              }
              &:active {
                color: $primary;
              }
            }
            &.clicked {
              a {
                color:#0189d0;
                background-color: $white;
              }
            }
          }
        }
        &.active {
          ul.language-dropdown {
            display: block;
          }
        }
      }
    }
  }
}

// 모바일 사이드 메뉴
.side-menu {
  visibility: hidden;
  z-index: 1;
  position: fixed;
  top: 75px;
  left: 0;
  width: 100%;
  transform: translateX(-100%);
  height: 100vh;
  padding: 30px 20px;
  background-color: $white;
  transition: all ease-out .3s;
  opacity: 0;
  &.slide-on {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    
  }
  .menu-list {
    padding-bottom: 20px;

    .menu {
      @include fontStyle(18px, 25.2px, 400);
      padding: 20px 0;
      border-bottom: 1px solid #dadada;
    }
  }
  .language-selector {
    position: relative;

    button {
      padding: 8.5px 16px;
      box-sizing: border-box;
      border: 1px solid #9a9a9a;
      border-radius: 8px;
      width: 113px;
      height: 41px;

      span {
        position: relative;
        display: inline-block;
        width: 100%;
        @include fontStyle(18px, 25.2px, 700);
        text-align: left;
        &:after {
          content: "";
          display: inline-block;
          position: absolute;
          top: 0;
          right: 0;
          @include backgroundImage(24px, 24px, "icon/chevron_down.svg");
        }
      }
    }
    ul.language-dropdown {
      display: none;
      position: absolute;
      top: 41px;
      left: 0;
      width: 113px;
      box-sizing: border-box;
      border: 1px solid #9a9a9a;
      border-radius: 8px;
      color: $basic;
      overflow: hidden;
      z-index: 60;
      li {
        width: 100%;
        height: 41px;

        a {
          display: inline-block;
          width: 100%;
          height: 100%;
          padding: 8px 16px;
          box-sizing: border-box;
          @include fontStyle(18px,25.2px,400);
          text-align: left;
          &:hover {
            color: $basic;
            background-color: #F1FAFF;
          }
          &:active {
            color: $primary;
          }
        }
      }
    }
    &.active {
      ul.language-dropdown {
        display: block;
      }
    }
  }
}
