header {
  height: 56px;
  background-color: $background;
  box-sizing: border-box;

  .inner {
    padding: 16px 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
    box-sizing: border-box;
  }
}

