@import url("/asset/scss/utils/_mixin.scss");

body {
  position: relative;
  @include fontFace("Pretendard", 700, "normal", "Pretendard-Bold");
  @include fontFace("Pretendard", 600, "normal", "Pretendard-SemiBold");
  @include fontFace("Pretendard", 500, "normal", "Pretendard-Medium");
  @include fontFace("Pretendard", 400, "normal", "Pretendard-Regular");
  font-family: "Pretendard", "맑은고딕", Arial, sans-serif;
  max-width: 500px;
  margin: 0 auto;
  background-color: $background;
}

//카카오,네이버 배경색 지정
.kakao {
  background-color: $kakao;
  color: $gray500;
}

.naver {
  background-color: $naver;
  color:$white;
}

//아이콘들
.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  &.left-arrow {
    @include backgroundImage(24px, 24px, "icon/chevron_left.svg");
  }
  &.right-arrow {
    @include backgroundImage(24px, 24px, "icon/chevron_left.svg");
    transform: rotate(-180deg)
  }
  &.bottom-arrow {
    @include backgroundImage(24px, 24px, "icon/bottom_arrow.svg");
  }
  &.bottom-arrow.on {
    transform: rotate(-180deg);
  }
  &.more {
    @include backgroundImage(24px, 24px, "icon/more.svg");
  }
  &.download{
    @include backgroundImage(24px, 24px, "icon/download.svg");
  }
  &.download-black{
    @include backgroundImage(24px, 24px, "icon/download_black.svg");
  }
  &.plus{
    @include backgroundImage(24px, 24px, "icon/plus.svg");
  }
  &.plus-white{
    @include backgroundImage(24px, 24px, "icon/plus_white.svg");
  }
  &.settings{
    @include backgroundImage(24px, 24px, "icon/settings.svg");
  }
  &.done{
    @include backgroundImage(24px, 24px, "icon/done.svg");
  }
  &.cancel{
    @include backgroundImage(24px, 24px, "icon/cancel.svg");
  }
  &.close {
    @include backgroundImage(24px, 24px, "icon/close.svg");
  }
  &.shield {
    @include backgroundImage(56px, 53px, "icon/shield.svg");
  }
  &.coin {
    @include backgroundImage(56px, 53px, "icon/coin.svg");
  }
}

main {
  height: calc(100vh - 56px);

  &.full {
    height: 100vh;
  }

  &.fix {
    height: auto;
  }
}

.inner {
  width: calc(100% - 40px);
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
  //.inner-wide
  &.wide {
    width: 100%;
  }

  &.receipt {
    width: calc(100% - 27px);
    padding: 0 13.5px;
  }
}

.content {
  height: 100%;
}

//표 중간에 들아가는 라인 이미지
.line {
  position: relative;
  display: inline-block;
  margin: 0 20px;
  width: calc(100% - 40px);

  @include backgroundImage($basic, 20px, "common/line.png", contain);
  max-width: 480px;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: $background;
    border-radius: 50%;
  }

  &:before {
    left: -30px;
  }

  &:after {
    right: -30px;
  }
}
