//디바이스 넓이 별로 변수 지정

//모바일
$breakpoint-mobile : 375px;


//태블릿
$breakpoint-tablet : 720px;

//pc(~노트북)
$breakpoint-pc : 1024px;


//color
$basic : #333;
$white : #fff;
$primary : #0089D0;
$disable : #7f7f7f;



